@charset "utf-8";

body{
    margin: 0px;
    height: 100%;
}

#continer{
    margin: 0px auto;
    display: block;
    width: 1px;
}

#fon{
    position: absolute;
    width: 597px;
    height: 738px;
    margin-left: -289px;
    background-image: url("../../img/main/fon.jpg");
}

#svitok{
    position: absolute;
    margin-top: 51px;
    margin-left: -252px;
    width: 524px;
    height: 615px;
    background-image: url("../../img/main/svitok.png");
}

#mainmenu{
    position: absolute;
    margin-top: 200px;
    margin-left: -130px;
    width: 200px;
    
}

#mainmenu div{
    height: 71px;
    width: 280px;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21pt;
    font-style: italic;
    user-select: none;
}

#mainmenu div div{
    position:absolute;
    margin-top:-5px;
    margin-left:15px;
    height:1px;
    width:248px;
    display:block;
    background-image:url("../../img/main/LineMenu.png");}

#mainmenu div:hover div{
        display:block;}

a{
    text-decoration: none;
    color: black;
}

#mainmenu div span{
    cursor: pointer;
}

#glagol{
    position: relative;
    margin-left: -10px;
    margin-top: 5px;
    width:300px !important;
    font-size: 16px !important;

}

.absvgd:hover{
    -webkit-transition: color .2s ease-in-out ;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    color: #fff;
}

.prefire {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
    transition: all 2.8s ease-in-out;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
    opacity: 1;
  }
  
.firestep1 {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); 
  }

.firestep2 {
    opacity: 0;
  }