.scene_edit{
    position: absolute;
    width: 360px;
    left: 131px;}

.scene_edit, .dialog_textarea, select{background-color: #F3F3F3;}

.redfon{
    background-color: #fbb;
}

#dialog_edit_ar_name, #span_dialog_1{
    top: 7px;
    width: 179px;
}

#dialog_edit_ar_meta, #span_dialog_2{
    top: 30px;
}

#dialog_edit_ar_koment, #span_dialog_koment{
    top: 53px;
}

#dialog_edit_subar_name, #span_dialog_3{
    top: 79px;
}

#dialog_edit_subar_meta, #span_dialog_4{
    top: 102px;
}

#dialog_edit_subar_map, #span_dialog_8{
    top: 125px;
}

.dialog_bt1{
    position: absolute;
    width: 179px;
    height: 20px;
    background-color: #009700;
    text-align: center;
    user-select: none;
    outline: 1px solid rgb(63, 63, 63);
    outline-offset: -1px;
}

.dialog_bt1:active{
    background-color: #008000;
}

#dialog_bt_ar_name0, #dialog_bt_subar_add0{
    color: white;
}

#dialog_bt_ar_name0, #dialog_bt_ar_name{
    left: 318px;
    top: 7px;
}

#dialog_bt_subar_add, #dialog_bt_subar_add0{
    left: 318px;}

#dialog_bt_add{
    left: 132px;}

#dialog_bt_subar_add, #dialog_bt_subar_add0, #dialog_bt_add, #span_dialog_5{
    top: 150px;}

.dialog_textarea{
    position: absolute;
    width: 488px;
    height: 308px;
    top: 172px;
    resize: none;
    left: 4px;}

.label{
    position: absolute;
    display: block;
    width: 130px;
    left: 6px;}

#dialog_line1{
    position: absolute;
    height: 1px;
    width: 496px;
    top: 76px;
    background-color: black;}
/*================  ПРАВАЯ ЧАСТЬ  ===================*/
#prev_ar{
    position: absolute;
    height: 750px;
    width: 476px;
    left: 809px;
    border: 2px solid black;}

.prev_kartochka{
    /*! position: absolute; */
    width: 476px;
    height: 200px;
    background-color: #dfdfdf;
    margin-bottom: 3px;
    float: left;
}

.prev_kartochka_data{
border-top: 1px solid rgb(0, 168, 36);
width: 461px;
height: 168px;
padding: 0px 8px;
overflow: auto;
}

#dialog_select_ar_name{
    position: absolute;
    left: 104px;
    width: 248px;
}

.label_name_count{
    display: inline-block;
    margin-left: 6px;
}

#dialog_select_ar_name, #span_dialog_6, #span_dialog_7, .label_name_count, .label_kartochka_2{
    margin-top: 5px;
    margin-bottom: 3px;
}

#span_dialog_6{
    margin-left: 2px;
}

#span_dialog_6, .label_name_count{
    font-size: 12pt;
}

#span_dialog_7{
    left: 38px;
    font-size: 12pt;
}

#dialog_prev_ar_head{
    /*padding: 0px 11px;*/
    height: 31px;
    width: 477px;
    border-bottom: 2px solid black;
}

#prev_ar_body{
    position: absolute;}

.dialog_bt2{
    float: right;
    height: 23px;
    width: 118px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    background-image: url(../../img/editor/button_edit.jpg);}

#secretKartochka{
    display: none;
}

.subArrayLine{
    height: 1px;
    width: 450px;
    background-color: #B8B8B8;
    margin: 0 auto;
}

.dialog_data_count, .label_name_count, #span_dialog_6{
    background-color: cadetblue;
    width: auto !important;
}

.kartChek{
    outline: 2px solid rgb(202, 0, 0);
    outline-offset: -2px;
}

.btgray{
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: grayscale(1);
    filter: gray; /* IE 6-9 */
}

.dialog_bt2:active{
    -webkit-filter: grayscale(35%);
    -ms-filter: grayscale(35%);
    -o-filter: grayscale(35%);
    filter: grayscale(35%);
    filter: grayscale(0.35);
    filter: gray; /* IE 6-9 */
}