@charset "utf-8";

#editor_red_menu{
    height: 39px;
    width: 100%;
    min-width: 900px;}

#hor_line{
    position: absolute;
    top: 39px;
    height: 1px;
    width: 100%;
    min-width: 900px;
    background-color: black;}

#editor_menu {
    min-height: 740px;
    width: 115px;
    top: 40px;
    height: calc(100% - 40px);}

#ver_line{
    position: absolute;
    left: 115px;
    min-height: 740px;
    height: calc(100% - 40px);
    width: 1px;
    top: 40px;
    background-color: black;}

#editor_red_menu, #editor_menu{
    position: absolute;
    z-index: 1;
    background-color: rgb(202, 202, 202);
    font-size: 17px;
    user-select: none;
    /*! margin-top: 20px; */}

#editor_red_menu div{
    float: left;
    background-color: #a33502;
    margin:2px 0px 2px 3px;}

#button_red_pre, #button_red_next{
    width: 50px !important;
    font-size: 25px;}

#editor_menu div{
    box-sizing: content-box;
    background-color: rgb(153, 153, 153);
    background-size: 100%, 100%;
    margin: 2px 2px 2px 3px;
    position: absolute;
    /*transition: margin-top 0.01s;*/}

.activity_button_menul{
    color: white;
    background-color: #5a6700 !important;
    outline: none !important;
    box-shadow: -3px 5px 4px rgba(0,0,0,0.75);
    margin-top: -0px !important;
    margin-left: 6px !important;
    z-index: 1 !important;}

#editor_red_menu div, #editor_menu div{
    height: calc(var(--button_height) - var(--button_padding_top));
    width: 110px;
    text-align: center;
    padding-top: var(--button_padding_top);}

#editor_menu div:hover{
    /*outline:2px solid #758033;
    outline-offset:-1px;*/
    background-color: #a8a8a8;
    cursor: pointer;}

#editor_red_menu div:hover{
    cursor: pointer;}

#editor_red_menu div:active {
    box-shadow: inset -3px 4px 4px rgba(0,0,0,0.75);
    }

#editor_menu div:nth-child(1){
    top: calc((var(--button_height) + var(--button_margin_top)) * 0)
}
#editor_menu div:nth-child(2){
    top: calc((var(--button_height) + var(--button_margin_top)) * 1)
}
#editor_menu div:nth-child(3){
    top: calc((var(--button_height) + var(--button_margin_top)) * 2)
}
#editor_menu div:nth-child(4){
    top: calc((var(--button_height) + var(--button_margin_top)) * 3)
}
#editor_menu div:nth-child(5){
    top: calc((var(--button_height) + var(--button_margin_top)) * 4)
}
#editor_menu div:nth-child(6){
    top: calc((var(--button_height) + var(--button_margin_top)) * 5)
}
#editor_menu div:nth-child(7){
    top: calc((var(--button_height) + var(--button_margin_top)) * 6)
}
#editor_menu div:nth-child(8){
    top: calc((var(--button_height) + var(--button_margin_top)) * 7)
}
#editor_menu div:nth-child(9){
    top: calc((var(--button_height) + var(--button_margin_top)) * 8)
}
#editor_menu div:nth-child(10){
    top: calc((var(--button_height) + var(--button_margin_top)) * 9)
}
#editor_menu div:nth-child(11){
    top: calc((var(--button_height) + var(--button_margin_top)) * 10)
}
#editor_menu div:nth-child(12){
    top: calc((var(--button_height) + var(--button_margin_top)) * 11)
}
#editor_menu div:nth-child(13){
    top: calc((var(--button_height) + var(--button_margin_top)) * 12)
}